{% extends 'adminapp/base.html' %}

{% block title %}Admin-home{% endblock title %}

{% block body %}

<div class="container my-2">

<div class="card text-center">
    <div class="card-header">
      Praedico Blogs
    </div>
    <div class="card-body">
      <h5 class="card-title">We are a blogging website</h5>
      <p class="card-text">Explore your knowledge</p>
      {% comment %} <a href="#" class="btn btn-primary">Go somewhere</a> {% endcomment %}
    </div>
    <div class="card-footer text-muted">
      {% comment %} 2 days ago {% endcomment %}
    </div>
  </div>
</div>
{% endblock body %}