<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>about</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>

        <div class="container my-2 ">
       

                    <div class="card bg-secondary text-white">
                        <div class="card-header">
                          
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">Praedico Global Research</h5>
                          <p class="card-text"> Praedico Global Research Private Limited is a private company which is founded on 09 April, 2018. We deals in Stock Market Training, Stock Marketing Predictive Softwares, Robotic Stock Trading, Global Equity Research, Portfolio Designing, Financial Literacy and Stock Market Research Using Deep Learning.
                <br>
                
                            Praedico Global Research Pvt. Ltd. is India's first "coordinated worldwide research cum preparing" company. They take a shot at the model of spreading financial literacy all over the globe and have their own exploration model for India and worldwide stock trades.
                        
                        <br>
                            Praedico Global Research focuses on the use of artificial intelligence to forecast the trends in the stock markets across the globe. The company has achieved many successes within the limited period of time it has been in existence.</p>
                          {% comment %} <a href="#" class="btn btn-primary">Go somewhere</a> {% endcomment %}
                        </div>
                      </div>
                    </div>
</body>
</html>
